<header>
  <nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand mx-auto" href="#">
      M
    </a>
  </nav>
</header>

<section id="about">
  <div class="container">
    <div class="row">
      <h2>Mitt Coats</h2>
      <p>Architect</p>
    </div>
    <hr>
  </div>

</section>

<section>
  <div id="timeline" class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-block">
            <p class="card-text">
              Some quick example text to build on the card title
              and make up the bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-block">
            <p class="card-text">
              Some quick example text to build on the card title
              and make up the bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-block">
            <p class="card-text">
              Some quick example text to build on the card title
              and make up the bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-block">
        <p class="card-text">
          Some quick example text to build on the card title
          and make up the bulk of the card's content.
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-block">
        <p class="card-text">
          Some quick example text to build on the card title
          and make up the bulk of the card's content.
        </p>
      </div>
    </div>


  </div>
</section>

<footer>
  <div class="container">
    <p class="font-italic mx-auto">
      "Every act of creation is first an act of destruction."
    </p>
    <p class="mx-auto">
      - Pablo Picasso
    </p>
  </div>
</footer>
