// Fonts

@import url('https://fonts.googleapis.com/css?family=Spectral|Prompt');
$header-font: 'Prompt', helvetica, sans-serif;
$body-font: 'Spectral', serif;

// Colors

$red: #981B1E;
$blue: #233bbd;
