// Fonts

@import url('https://fonts.googleapis.com/css?family=Spectral|Prompt:200,300,400');
$header-font: 'Prompt', helvetica, sans-serif;
$body-font: 'Prompt', serif;

// Colors

$red: #ed1c24;

$blue: #21419a;
